.top {
    background-color: #009de0;
}

.top h1 {
    margin: 0;
    color: white;
    font-size: 2.4em;
    text-align: center;
}

.top img {
    width: 150px;
    margin: 5px;
}

@media screen and (min-width: 400px) {
    .top {
        text-align: center;
    }
    
    .top img {
        position: relative;
        float: none;
    }
}

@media screen and (min-width: 900px) {
    .top {
        text-align: unset;
        position: relative;
    }
    
    .top img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    background-color: #009de0;
    color: white;
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.buttons {
    margin-top: 40px;
}

.buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

button:focus {
    outline: none;
}

.buttons > div:nth-child(2) {
    justify-content: space-evenly;
}

.arcade-button {
    margin: 0;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 0;
    z-index: 1;
    border: 2px solid black;
}

.arcade-button::before {
    top: -10;
    left: -10;
    content: " ";
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background-color: #004e70;
}

.arcade-button-container {
    margin: 0 100px;
    display: inline-block;
    position: relative;
}

.scoreboard {
    margin: 0;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    border: 2px solid black;
}

.scoreboard::before{
    top: -10;
    left: -10;
    content: " ";
    display: inline-block;
    height: 70px;
    width: 150px;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    background-color: #004e70;
}

.scoreboard-container {
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.mascots {
    margin-top: 80px;
}

img {
    margin-right: 150px;
    margin-left: 150px;
}