body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.LCD{
    background-color:#2d3035;
    padding: 25px 0;
    color: #fff;
}

.LCD h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
    padding-bottom: 9px;
}

h2, h3{
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
}

h3{
    font-size: 22px;
}

.LCDInsertText{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.LCDSubmit{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
    padding: 10px;
    background: #009de0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

hr.solid {
    border-top: 3px solid #2d3035;
  }

.Controlador{
    margin-top: 40px;
    margin-bottom: 20px;
}

.Arrows{
    margin-top: 30px;
}

.ArrowVert{
    font-size: 1.3rem;
    text-align: center;
    color: #009de0;
    padding-top: 0;
    padding-bottom: 3px;
}

.ArrowHor{
    font-size: 1.3rem;
    text-align: center;
    color: #009de0;
    padding-top: 1;
    padding-bottom: 4px;
}

.ArrowVert:focus{
    background-color: #009de0;
    color: #fff;
}

.ArrowHor:focus{
    background-color: #009de0;
    color: #fff;
}