@font-face {
    font-family: Arcade;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

.background {
    background-color: #ffffff;
    opacity: 0.06;
    background-image: linear-gradient(30deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(150deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0), linear-gradient(30deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(150deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(60deg, #009de077 25%, transparent 25.5%, transparent 75%, #009de077 75%, #009de077),
    linear-gradient(60deg, #009de077 25%, transparent 25.5%, transparent 75%, #009de077 75%, #009de077);
    background-size: 30px 53px;
    background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -20;
    pointer-events: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.top {
    background-color: #009de0;
    font-family: Arcade;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container-left {
    display: flex;
    height: 5vh;
    width: 25vw;
    text-align: left;
}

.container-right {
    display: flex;
    height: 5vh;
    width: 25vw;
    align-items: center;
}

.container-center {
    display: flex;
    height: 5vh;
}

.top h1 {
    margin: 0;
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 5.5vh;
}

.top img {
    width: 10em;
    margin: 5px;
}

.top a {
    margin-left: auto;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    align-items: center;
}

.bottom input {
    width: 150px;
    height: 50px;
    background-color: #009de0;
    color: white;
    border: 0;
    font-size: larger;
    font-weight: bold;
}

.bottom input:hover {
    background-color: #00bfff;
}

#logo-neec {
    width: 300px;
    height: 250px;
    display: none;
    position: relative;
    margin: auto;
}