@font-face {
    font-family: Arcade;
    src: url(assets/PressStart2P-Regular.ttf);
}

body {
    font-family: Robotica, sans-serif;
    font-size: 20px;
    background-color: white;
    margin: 0;
}

.top {
    background-color: #009de0;
    font-family: Arcade;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container-left {
    display: flex;
    height: 5vh;
    width: 25vw;
    text-align: left;
}

.container-right {
    display: flex;
    height: 5vh;
    width: 25vw;
    align-items: center;
}

.container-center {
    display: flex;
    height: 5vh;
}

.top h1 {
    margin: 0;
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 5.5vh;
}

.top img {
    width: 10em;
    margin: 5px;
}

.top a {
    margin-left: auto;
    text-decoration: none;
    color: white;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    align-items: center;
}

.bottom input {
    width: 150px;
    height: 50px;
    background-color: #009de0;
    color: white;
    border: 0;
    font-size: larger;
    font-weight: bold;
}

.bottom input:hover {
    background-color: #00bfff;
}

#logo-neec {
    width: 300px;
    height: 250px;
    display: none;
    position: relative;
    margin: auto;
}