@font-face {
    font-family: Arcade;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    background-color: white;
    margin: 0;
}

.top {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #009de0;
    font-family: Arcade;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container-left {
    display: flex;
    height: auto;
    width: 15vw;
    text-align: left;
}

.container-right {
    display: flex;
    height: auto;
    width: 15vw;
    align-items: center;
}

.container-center {
    display: flex;
    height: auto;
    width: auto;
}

.top h1 {
    margin: 5px;
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.top img {
    width: 10vw;
    margin-right: auto;
    margin-left: 0.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.top a {
    margin-left: auto;
    margin-right: 0.5vw;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    text-align: end;
    color: white;
}

.main {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.click-box {
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
}

.bottom {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.bottom input {
    width: 150px;
    height: 50px;
    background-color: #009de0;
    color: white;
    border: 0;
    font-size: larger;
    font-weight: bold;
}

.bottom input:hover {
    background-color: #00bfff;
}

#logo-neec {
    width: 200px;
    display: none;
    position: relative;
    margin: auto;
}