:root {
  --color-primary: #18181a;
  --color-secondary: #dddddd;
  --color-dark: #00ff8b;
  --color-light: #f5f5f5;
  --font-family-primary: helvetica neue, Helvetica, Arial, sans-serif;
  --font-family-secondary: "Rubik Mono One", sans-serif;
  --td: 150ms;
  --td1: 200ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 100%;
}

h1 {
  text-align: center;
  padding: 20px 0 12px 0;
  margin: 0;
}

h2 {
  font-size: 6vh;
  color: #009de0;
  margin-left: 2vw;
  border-image-slice: 1;
  border-width: 5px;
  border-style: solid;
  border-image-source: linear-gradient(to left, #009de0, #d5e5ff);
  margin-top: 1.5vh;
  width: fit-content;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  transition: opacity 3s;
}
.background {
  background-color: #ffffff;
  opacity: 0.06;
  background-image: linear-gradient(30deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(150deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0), linear-gradient(30deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(150deg, #009de0 12%, transparent 12.5%, transparent 87%, #009de0 87.5%, #009de0),
    linear-gradient(60deg, #009de077 25%, transparent 25.5%, transparent 75%, #009de077 75%, #009de077),
    linear-gradient(60deg, #009de077 25%, transparent 25.5%, transparent 75%, #009de077 75%, #009de077);
  background-size: 30px 53px;
  background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -20;
  pointer-events: none;
}

.live_blink {
  opacity: 0;
  animation: blink alternate-reverse 2s infinite ease-in-out;
}

.box {
  width: max-content;
  height: auto;
  padding: 10vh 10vw;
}

.outer_box {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10vh;
  /*animation: blink alternate-reverse 2s infinite ease-in-out;*/
  flex-direction: column;
}

.loading_img {
  width: 20%;
  order: 1;
  z-index: 1;
}

p.loading {
  font-size: 3rem;
  font-weight: 600;
  color: #009de0;
  width: auto;
  order: 2;
  padding-top: 35vh;
  z-index: 1;
}
.gif {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: max-content;
  bottom: 0;
}

/*
.outer_box {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  animation: blink alternate-reverse 2s infinite ease-in-out;
}
p.loading {
  font-size: 3rem;
  font-weight: 600;
  color: #009de0;
  width: 20vw;
}

.loading_img {
  height: 13vh;
}
*/
.back {
  background-color: #29323c !important;
  color: white;
}

.geral {
  flex-wrap: wrap;
  width: 25vw !important;
  padding: 1vw;
  /*margin-top: 3vh;*/
}

.geral .title {
  border-image-slice: 1;
  border-width: 5px;
  border-style: solid;
  border-image-source: linear-gradient(to top left, gold, #ff5200);
}

.days {
  padding-top: 2.5vh !important;
}

.logo {
  height: 5vh;
}

.scoreboards {
  font-size: 4.5vh;
  /*-webkit-text-stroke: 2px var(--color-dark);*/
}

.container {
  display: flex;
  justify-content: space-between;
  /*margin-top: 3vh;*/
  margin-right: 1vw;
  padding: 1vw;
  opacity: 1;
  transition: opacity 3s, display 3s;
}

.container div {
  height: auto;
}

.container div.tres {
  width: 100%;
  margin-left: 1vw;
  flex-wrap: wrap;
  margin-right: 1vw;
}

.d_none {
  display: none !important;
}
.invisible {
  display: none !important;
  opacity: 0;
}

.divider {
  display: none;
}

.first {
  display: block;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #009de0;
  width: 98%;
  margin-top: 10px;
  margin-left: 6px;
  box-shadow: 0px -20px 0px #009de0;
  padding-right: 0;
  position: relative;
  padding-left: 10px;
  z-index: -10;
}

.next {
  display: block;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #009de0;
  width: 98%;
  margin-left: 6px;
  /*box-shadow: 6px 0 0px #009de0;*/
  padding-right: 0;
  padding-left: 10px;
  /*border-top: 0.2rem dashed #2d3035;*/
  margin-top: 0.5vh;
}

.title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  background: #2d3035;
  color: #f2f2f2;
  padding: 8px;
  box-shadow: 11px 13px 3px 3px #2d30355e;
}

a.selected {
  background-color: #8ca6c3 !important;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    background-color: transparent !important;
    margin-top: 5px;
    margin-right: 8px;
    color: #f2f2f2 !important;
  }
  .topnav a.selected {
    float: right;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
  }

  .topnav {
    display: block !important;
  }
  .topnav a {
    width: unset !important;
  }

  .container {
    display: block;
  }

  .container div {
    margin: 10px;
  }
  .container div.dois {
    width: auto;
  }
  .container div.tres {
    width: auto;
  }
  .visible {
    display: block !important;
  }

  .invisible {
    display: none !important;
  }
  #outer_box {
    height: 100%;
  }

  .outer_box {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    /*animation: blink alternate-reverse 2s infinite ease-in-out;*/
    flex-direction: column;
  }

  .loading_img {
    width: 50%;
    order: 1;
  }

  p.loading {
    font-size: 3rem;
    font-weight: 600;
    color: #009de0;
    width: auto;
    order: 2;
    padding-top: 35vh;
  }
  .gif {
    width: 100%;
    position: absolute;
    top: 45vh;
    height: auto;
    z-index: -1;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    opacity: 0;
    background-color: #485563;
    text-align: center;
    font-weight: 800;
  }

  .topnav.responsive a.selected {
    float: none;
    display: block;
    opacity: 0;
    background-color: #485563;
    text-align: center;
    font-weight: 800;
  }
  .topnav.responsive > .active {
    opacity: 1;
  }
  .topnav a.active {
    float: none;
    display: block;
    text-align: center;
    font-weight: 800;
  }
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #009de0;
  width: 100%;
  /* font-variant: jis90; */
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #29323c;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown_item-1 {
  transform-origin: top center;
  animation: rotateX 300ms 60ms ease-in-out forwards;
}
.dropdown_item-2 {
  transform-origin: top center;
  animation: rotateX 300ms 120ms ease-in-out forwards;
}
.dropdown_item-3 {
  transform-origin: top center;
  animation: rotateX 300ms 180ms ease-in-out forwards;
}
.dropdown_item-4 {
  transform-origin: top center;
  animation: rotateX 300ms 240ms ease-in-out forwards;
}
.dropdown_item-5 {
  transform-origin: top center;
  animation: rotateX 300ms 300ms ease-in-out forwards;
}
.dropdown_item-6 {
  transform-origin: top center;
  animation: rotateX 300ms 360ms ease-in-out forwards;
}
.dropdown_item-7 {
  transform-origin: top center;
  animation: rotateX 300ms 420ms ease-in-out forwards;
}
.dropdown_item-8 {
  transform-origin: top center;
  animation: rotateX 300ms 480ms ease-in-out forwards;
}
.dropdown_item-9 {
  transform-origin: top center;
  animation: rotateX 300ms 540ms ease-in-out forwards;
}
.dropdown_item-10 {
  transform-origin: top center;
  animation: rotateX 300ms 600ms ease-in-out forwards;
}
.dropdown_item-11 {
  transform-origin: top center;
  animation: rotateX 300ms 660ms ease-in-out forwards;
}
.dropdown_item-12 {
  transform-origin: top center;
  animation: rotateX 300ms 720ms ease-in-out forwards;
}

@-moz-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.shake {
  -webkit-animation: vibrate-1 8s linear infinite both;
  animation: vibrate-1 8s linear infinite both;
}
.shake-1 {
  -webkit-animation: vibrate-1 8s linear infinite both;
  animation: vibrate-1 8s linear infinite both;
  animation-delay: -6.6s;
}
.shake-2 {
  -webkit-animation: vibrate-1 8s linear infinite both;
  animation: vibrate-1 8s linear infinite both;
  animation-delay: -4.4s;
}
.shake-3 {
  -webkit-animation: vibrate-1 8s linear infinite both;
  animation: vibrate-1 8s linear infinite both;
  animation-delay: -2s;
}

.foto {
  height: 5vh;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1vw;
  border: 3px solid white;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-5px, -3px);
    transform: translate(-5px, -3px);
  }
  50% {
    -webkit-transform: translate(1px, -5px);
    transform: translate(1px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, -1px);
    transform: translate(5px, -1px);
  }
  80% {
    -webkit-transform: translate(3px, 0px);
    transform: translate(3px, 0px);
  }
  80% {
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
